.image-container{
    position: relative;
}

.remove{
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border: 2px solid #000;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(167, 134, 73);
    border-radius: 5px;
    transition: 0.3s;
}

.remove:hover{
    background-color: rgb(246, 202, 120)    ;
}

.empty-message{
    margin-top: 20rem;
}


