html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bottom-navbar {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 20px;
  background: #f8f9fa;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 10px;
  flex-wrap: wrap;
}

.flex div {
}

label {
  display: block;
  color: #000;
  font-size: 15px;
}

button[type="submit"] {
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  background: rgb(78, 78, 255);
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
  cursor: #fff;
}

a {
  color: orange;
}

input,
select {
  outline: none;
  font-size: 1rem;
  color: #000;
  border-radius: 5px;
  outline: none;
  padding: 0.4rem 1rem;
  border: 2px solid #ddd;
}

a {
  text-decoration: none;
}

li:last-of-type {
  font-size: 0.8em;
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

/* li:nth-child(6){
    margin-left: 0;
} */

/* li:nth-child(6) */

.logout-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

li.logout-btn:hover {
  color: red;
}

.favourite-counter {
  /* position : relative;
    bottom : 10px; 
    right : 10px;  */
}
